.navSetSM{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "JetBrains Mono";
}
.navSetSM .top{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
}
.navSetSM .top .buttons{
    width: 250px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid whitesmoke;
}
.navSetSM .top .buttons .new{
    font-family: "JetBrains Mono";
    background-color: #4c4b4b;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    width: 100%;
    height: 50%;
    transition-duration: .1s;
    border-bottom: 1px solid whitesmoke;
}
.navSetSM .top .buttons .new.single{
    height: 100%;
    border: none;
}
.navSetSM .top .buttons .sel{
    background-color: #4c4b4b;
    height: 50%;
    width: 100%;
    border: none;
    text-align: center;
    color: whitesmoke;
    font-family: "JetBrains Mono";
    font-size: 16px;
    transition-duration: .1s;
}
.navSetSM .top .buttons .sel:hover{
    cursor: pointer;
    background-color: grey;
}
.navSetSM .top .buttons .sel:focus{
    outline: none
}
.navSetSM .top .buttons .new:hover{
    cursor: pointer;
    background-color: grey;
}
.navSetSM .top div{
    width: calc(100% - 250px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.navSetSM .top div.center{
    width: 100%;
    height: 60px;
}
.navSetSM .top p{
    margin: 0;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}

.navSetSM .log_line{
    width: 90%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: transparent;
    -webkit-appearance: none;
}
.navSetSM .log_line:hover{
    cursor: pointer;
}
.navSetSM .log_line::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    overflow: hidden;
    height: 25px;
    background-color: gray;
}
.navSetSM .log_line::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: whitesmoke;
    width: 10px;
    height: 25px;
    box-shadow: -560px 0 0 550px #02d402;;
}

.navSetSM .controls{
    margin-top: 15px;
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.navSetSM .controls .next_prev{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navSetSM .controls .next_prev button{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition-duration: .1s;
}
.navSetSM .controls .next_prev button:hover{
    cursor: pointer;
    background-color: #4c4b4b;
}

.navSetSM .controls .next_prev .iter:before{
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    border: 3px solid whitesmoke;
    border-left: none;
    border-bottom: none;
    rotate: 45deg;
}
.navSetSM .controls .next_prev .iter:after{
    position: absolute;
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    background-color: whitesmoke;
}
.navSetSM .controls .next_prev .prev{
    rotate: 180deg;
}

.navSetSM .controls .next_prev .start.active:after{
    content: "";
    position: absolute;
    width: 15px;
    height: 40px;
    border: 5px solid whitesmoke;
    border-top: none;
    border-bottom: none;
}
.navSetSM .controls .next_prev .start.unactive:after{
    content: ''; 
    position: absolute;
    margin-left: 25px;
    border: 20px solid transparent;
    border-left: 33px solid whitesmoke;
    display: block;
    width: 0;
    height: 0;
}

.navSetSM .controls .speed{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.navSetSM .controls .speed .title{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-family: "JetBrains Mono";
    color: whitesmoke;
    font-size: 20px;
    background-color: transparent;
}
.navSetSM .controls .speed div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.navSetSM .controls .speed div .range{
    width: 60%;
    background-color: transparent;
    -webkit-appearance: none;
}
.navSetSM .controls .speed div .range::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background-color: whitesmoke;
    height: 5px;
    border-radius: 2.5px;
}
.navSetSM .controls .speed div .range::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #02d402;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    border-radius: 2px;
}
.navSetSM .controls .speed div .number{
    height: 25px;
    text-align: center;
    border: none;
    font-size: 15px;
}
.navSetSM .controls .speed div .number:focus{
    outline: none;
}
.navSetSM .controls .speed div .number::-webkit-outer-spin-button,
.navSetSM .controls .speed div .number::-webkit-inner-spin-button{
    opacity: 1;
}