.logReader{
    padding-top: 80px;
    height: calc(100vh - 80px);
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.logReader .mult_player{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.logReader .load{
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}